#personalMapCanvas{
    width: 65%;
    height: 90%;
    border-radius: 15px;
}

// #mainDiv {
//     width: 70%;
//     height: 50%;
// }

// #mainDiv{
//     width: 800px;
//     height: 500px;
// }