<!-- <ion-header>
  <ion-toolbar>
    <ion-title>personalMap</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

</ion-content> -->
<!-- <app-header></app-header> -->
<ion-content padding>
  <!-- <div id="mainDiv" > -->
    <div id="personalMapCanvas" style="float: left;" >
  
    </div>
    <div  style="float: left;">
      <ion-card>
        <ion-card-header>
            <ion-card-subtitle>
                {{ userID }}
              </ion-card-subtitle>
        </ion-card-header>
        <ion-card-content>
            {{ currentDate }}
        </ion-card-content>
      </ion-card>  
    </div>
    
  <!-- </div> -->
</ion-content>
