<ion-header>
  <ion-toolbar color="light">
    <ion-title style="align-text: center">
      Tracking System - SF Assignment
      <!-- <ion-icon   name="trash"></ion-icon> -->
    </ion-title>
  </ion-toolbar>
    <ion-toolbar color="light">
  
        <ion-buttons slot="primary">
          <ion-button color="primary">
            <ion-icon slot="icon-only" name="more"></ion-icon>
          </ion-button>
        </ion-buttons>
      
        <ion-title>
      
            <ion-button color="primary"  href="/home" >
                <ion-icon name="paper-plane">
            </ion-icon>&nbsp; Track Vehicle</ion-button>
            &nbsp;
            <ion-button  color="primary"   href="assets/app/DriversApp.apk">
            <ion-icon name="logo-android">
                </ion-icon>&nbsp; Download Drivers App</ion-button>
            &nbsp;
            <!-- <ion-button  color="primary" >
              <ion-icon name="trash">
            </ion-icon>&nbsp; </ion-button> -->
        
        </ion-title>
        <ion-buttons slot="secondary">
            <!-- <ion-button>
              <ion-icon color="primary" size="large" slot="icon-only" name="contact"></ion-icon>
            </ion-button>
            <ion-button>
            </ion-button> -->
          </ion-buttons>
      
      </ion-toolbar>
      
      
</ion-header>