<app-header></app-header>

<ion-content padding>

  <!-- <div *ngIf="locationStatus === 'offline' || locationStatus === null" id="offlineReport" >
      <ion-card padding color="danger" >
          <ion-card-title style="text-align: center;" >
             <b>Selected device is Offline</b> 
        </ion-card-title>  
        <ion-icon size="large" name="warning"  style="margin-left: 50%; margin-right: 50%;"></ion-icon>
          <br>

      </ion-card>
    </div> -->

  <div style="margin-left: 5%;" >
    <ion-chip color="tertiary"  size="large" padding >
        <ion-icon name="trash" size="large"></ion-icon>
        <ion-title>{{ trashDataInfo }}</ion-title>
    </ion-chip> 
    <ion-chip color="danger"  size="large" *ngIf="locationStatus === 'offline' || locationStatus === null" padding >
        <ion-icon name="warning" size="large"></ion-icon>
        <ion-title>Selected device is Offline</ion-title>
    </ion-chip>          

  </div>
  <div id="map_canvas" style="float: left;" >
    
  </div>
  
  <div style="
  float: left;
  margin-right: 2%;
  margin-left: 2%;">
    <ion-list >
      <!-- <ion-header>
        <ion-item>
            <ion-text color="tertiary">
                <h3> Driver Application List :  {{ deviceDataArray.length }}</h3>
                
            </ion-text>
        </ion-item>
      </ion-header> -->
    <ion-card *ngFor="let m of deviceDataArray" padding id="m.id" [ngStyle]="{'border-style':locationDeviceID === m.id ? 'solid' : 'none' }">
        <div>
            <ion-card-header>
              <ion-card-subtitle> ID : {{ m.id }}  </ion-card-subtitle>
              </ion-card-header>
    
    <ion-card-content [ngStyle]="{'color':m.status === 'offline' ? 'red' : 'green' }" > <ion-icon name="phone-portrait"></ion-icon> {{ m.status}} </ion-card-content>
      
    <ion-button  size="small" (click)="loadPositionOfDriver(m.id)" *ngIf="!isTracking">
    <ion-icon name="logo-model-s"></ion-icon>&nbsp; Watch</ion-button>
    <ion-button size="small" color="danger" (click)="stopTrackingVehicle()" *ngIf="isTracking && locationDeviceID === m.id ">
                <ion-icon name="hand">
                </ion-icon>&nbsp; Stop</ion-button>
    &nbsp;
    <ion-button size="small" color="secondary" >
      <ion-icon name="locate">
    </ion-icon> &nbsp;Veiw Records</ion-button>
    &nbsp;
    <ion-button size="small" color="light" (click)="removeDriver(m.id)" >
      <ion-icon name="person">
    </ion-icon> &nbsp;Remove Driver</ion-button>
        </div>
      </ion-card>
    </ion-list>
  </div>
</ion-content>
