#map_canvas {
    width: 65%;
    height: 90%;
    border-radius: 15px;
    margin-left: 2.5%;
  }

#dum {
  border-style: solid; 
  border-color: red;
  width: auto;
}

#offlineReport {
  width: 100%;
  height: auto;
  border-radius: 15px;
}

ion-card {
  border-color:  #0f3357;
  border-style: none ;  
}

app-personal-map{
  width: 100%;
  height: auto;
}